@charset "utf-8";




html, body{
	
	cursor: url("FateSelect.ani"), url("Untitled-1.cur"), url("normal cursor.cur"), url("Best Finger Norm Sel.cur"), auto;
	
}

@font-face {
    font-family: 'alagardmedium';
    src: url('alagardalagaard.woff2') format('woff2'),
         url('alagardalagaard.woff') format('woff'),
         url('alagardalagaard.ttf') format('truetype'),
         url('alagardalagaard.svg#alagardmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}



body{
	
	
	
	margin:	0;
	
	background-color: Darkgray;
	font-size: 18px;

	
}




/* Menu button on top of navbar    */
.button{
	
	margin-right:20px;
	width: min-content;
	
}

/* Contact button on top of navbar    */
.button2{
	padding-right: 100px;
	
}



/*  navbar that sticks to top of screen. flex display to align items in center  */
.navbar{
	
	position: fixed;
	
	top: 0px;
	width:100%;
	background: gray;
	padding-left: 15px;
	
	margin-top:0px;
	color: black;
	display: flex;
	justify-content: space-between;;
	
	align-items: center;
	
	border-style: double;
	
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	
	
	font-size: 18 px;
	
	margin-top: 0px;
	
}


/* Images for the buttons */

.drop img{
	
	width: 60px;
	
}

.drop{
	
	background-color: grey;
	border-style: none;
}

.drop:hover {
	
	background-color: rgba(0, 0, 0, 0.1);
	border-style: none;
}


.dropAgain img{
	width: 100px;
	
}


.dropAgain{
	
	background-color: grey;
	border-style: none;
	
}

.dropAgain:hover {
	
	background-color: rgba(0, 0, 0, 0.1);
	border-style: none;
}



/* Navbar Title */

.navbar p{
	
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	font-size: 72px;
	font-style: none;
	color: rgba(0, 0, 0, 0.65);
	margin-top: 33px;
	margin-bottom: 20px;
	
	
	
}

.menu p{
	
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	color: #DDD;
	text-align: center;
	margin-top: 1px;
	margin-bottom: 1px;
	
}

.info p{
	
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	color: #DDD;
	text-align: center;
	margin-top: 1px;
	margin-bottom: 1px;
	
}




/*  box of links that are not displayed   */
.link1{
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	display: none;
    position: fixed;
    top:80px;
    background-color:white;
    min-width: 150px;
    z-index: 1;
	
	
}



/*  box of course Work links that is next to the first set of links   */
.courseContent{
	
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	
	display: none;
    position: fixed;
    top: 80px;
    background-color:white;
    min-width: 150px;
	left: 198px;
    z-index: 1;

	
}

/* box of personal project links */
.personalContent{
	
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	
	display: none;
    position: fixed;
    top:178px;
    background-color:white;
    min-width: 150px;
	left: 198px;
    z-index: 1;

	
}


/* box of certification links */
.certContent{
	
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	
	display: none;
    position: fixed;
    top:227px;
    background-color:white;
    min-width: 150px;
	left: 198px;
    z-index: 1;

	
}


.courseContent a {
	
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	
    color: black;
    padding: 12px 16px;
	text-decoration:none;
    display: block;
	border-style: outset;
}

.courseContent a:hover {
	background-color: #ddd;
	
}

/*  when classes is hovered, the classes links are shown   */
.courseWork:hover .courseContent{
	display:block;
	
}


.personalContent a {
	
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	
    color: black;
    padding: 12px 16px;
	text-decoration:none;
    display: block;
	border-style: outset;
}

.personalContent a:hover {
	background-color: #ddd;
	
}

/*   when camp is hovered the camp links are shown  */
.personalProjects:hover .personalContent{
	display:block;
	
}


/* certification */
.certContent a {
	
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	
    color: black;
    padding: 12px 16px;
	text-decoration:none;
    display: block;
	border-style: outset;
}

.certContent a:hover {
	background-color: #ddd;
	
}

/*   when camp is hovered the camp links are shown  */
.certification:hover .certContent{
	display:block;
	
}



.link1 a {
	
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	
	border-style: outset;
    color: black;
    padding: 12px 16px;
	text-decoration:none;
    display: block;
}



.link1 a:hover {
	background-color: #ddd;
	
	
}
	

/*  when the button is hovered the box of links are shown   */
.button:hover .link1 {
	display: block;
}




/* contact button */

.link2 {
	
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	
	display: none;
    position: fixed;
	top:80px;
    background-color:white;
    min-width: 150px;
    z-index: 1;
	
}


.contactContent {
	
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	
	display: none;
    position: fixed;
    top: 80px;
	right: 190px;
    background-color:white;
    min-width: 150px;
    z-index: 1;
	
}



.contactContent a {
	
	
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	
	color: black;
    padding: 12px 16px;
	text-decoration:none;
    display: block;
	border-style: outset;
}


.contactContent a:hover {
	background-color: #ddd;
	
}


.contact:hover .contactContent{
	display:block;
	
}


.link2 a {
	
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	
	border-style: outset;
    color: black;
    padding: 12px 16px;
	text-decoration:none;
    display: block;
}



.link2 a:hover {
	background-color: #ddd;
	
	
}
	

	/*  when the button is hovered the box of links are shown   */
.button2:hover .link2 {
	display: block;
}



.welcome{
	background-color: gray;
	margin: 5%;
	margin-top:10%;
	display: flex;
	flex-flow: wrap;
	border-style: double;
	justify-content:center;
	align-items: center;
	
}


.welcome2{
	background-color: gray;
	margin: 5%;
	display:flex;
	flex-flow: column;
	align-items:center;
	justify-content:center;
	border-style: double;
	text-align: center;
	padding:20px;
	
}

.ad img{
	width:300px;
}


.course{
	text-align: center;
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	color: #DDD;
	
}	

.status{
	
	align-items:center;
	display:flex;
	flex-flow: column;
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	color: #DDD;
	margin-left:-5%;
	
}



.status img{
	width:70%;
	margin-left:-5%;
	margin-top:-50px;
	padding:10px;
}



.textbox2{
	
	text-align:center;
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	color: #DDD;
	padding:30px;
	
}

.flag img{
	
	padding: 10px;
	
	width:100px;
}

.flag{
	margin-left: 125px;
	align-self: normal;
	
	
}



.textbox1{
	margin-top:-12%;
	margin-left:5%;
}

.courseObjects{
	display: flex;
	justify-content: center;
	text-align: center;	
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	
	color: rgba(0, 0, 0, 0.65);
	font-size: 12px;
	padding:10px;
	margin-top: -20px;
}

.file{
	padding-left:10px;
	padding-right:10px;
}


.file:hover{
	color:#DDD;
	
}

.file button{
	background-color: gray;
	border-style: none;
	margin:10px;

}

.file img{
	width:50px;
	margin-bottom:-8px;	
	
}

.objects{
	display: flex;
	justify-content: center;
	text-align: center;	
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	
	color: rgba(0, 0, 0, 0.65);
}

.resume button{
	background-color: Darkgray;
	border-style: none;
	margin-top:-15px;
	margin-right:-20px;
	padding-left:10px;
	padding-right:10px;
	
}

.resume:hover {
	color:#DDD;
	
}
.Linked:hover {
	color:#DDD;
	
}
.Git:hover {
	color:#DDD;
	
}



.resume img{
	width:150px;
	margin-bottom:-8px;	
	
}

.Linked button{
	background-color: Darkgray;
	border-style: none;	
	margin:10px;
	padding-left:10px;
	padding-right:10px;
}
.Linked img{
	width:150px;
	margin-bottom:12px;	
}



.Git button{
	background-color: Darkgray;
	border-style: none;
	margin:10px;
	padding-left:10px;
	padding-right:10px;
	
}
.Git img{
	width:100px;
	margin-bottom:-5px;
}




.rear{
	position: sticky;
	bottom:0px;
	width:100%;
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	background-color: gray;
	color: #DDD;
	border-style:double;
	border-color:rgba(0, 0, 0, 0.65);
}

.rear p {
	padding: 5px;
	padding-left:10px;
	
}

html{
	overflow-x: hidden;
}

.back{
	margin-right: 15px;
	background-color:gray;
	border-style:none;
}

.back:hover {
	background-color: darkgray;
	
}

.back img{
	width:50px;
}

.next{
	margin-left: 10px;
	background-color:gray;
	border-style:none;
}

.next:hover {
	background-color: darkgray;
	
}

.next img{
	width:50px;
}


.obj{
	
	display:flex;
	flex:warp;
	flex-flow:column;
	justify-content:center;
	align-items:center;
	
	
}

.obj img{
		justify-content:center;
		align-items:center;
}

.items{
	
	font-family: 'alagardmedium';
	font-weight: normal;
	font-style: normal;
	
	display:flex;
	flex:wrap;
	flex-flow:space-between;
	justify-content:center;
	align-items:center;
	padding-left:25px;
	
	
}
.items a{
	font-size:24px;
	color:rgba(0, 0, 0, 0.65);
	padding:20px;
	
}

.items a:hover{
	color:#DDD;
	
	
}


@media all and (max-width: 800px) { 

.items a{
	font-size:14px;
}

.navbar p{
	font-size:12px;
}

.menu p{
	font-size:12px;
}
.info p{
	font-size:12px;
}

.info {
	padding: 0px;
	margin-right:0px;
}

.flag{
	justify-content:center;
	align-items:center;
	display:flex;
	flex-flow: column;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}


.file img{
	
	width: 100%;
}


.course{
	width:100%;
	

}

.courseObjects{
	display: flex;
	flex-flow: wrap;
	
}

.gallery{
	width: 100%;
}




}

@media all and (max-width: 1200px) { 

.flag{

	
	padding: 10px;
	margin: 0px 0px 0px 0px;
}



.Git img{
	height:50px;
	width:auto;
}

.Linked img{
	height:50px;
	width:auto;
	margin-bottom:-5px;	
}

.resume img{
	height:85px;
	width:auto;
	margin-bottom:-5px;	
}

.navbar p{
	
	font-size:24px;
}


.menu p{
	
	
	font-size:12px;
}
.info p{
	
	font-size:12px;
}
.button2 {
	
	padding: 5px;
	margin-right:10px;
}


.link2{
	
	margin-left:-51px;
}



.contactContent{
	
	margin-right:-180px;
	margin-top:50px;
}

.welcome{

	margin-top: 125px;
	justify-content: center;
}

.status{

	justify-content: center;
	margin: 0px;
	margin-top:0ps;
	margin-left: 0px;
}

.status img{
	margin: 0px;
	margin-top:0ps;
	margin-left: 0px;
}




}


